/* Application styles could go here */
/*
 * Colors:
 * purple: #7263A6
 * dark purple: #484260
 * yellow/orange: #E39E38
 */
 
/* Bibl banner*/
.navbar {
    border-bottom: 4px solid #E39E38 !important;
}
.banner-bibl {
    position:relative;
    margin-top:-1em;
    padding-top:0;
	background-image:url('../images/cbsc/CBSC-banner.jpg');
	background-size:cover;
	background-position:top;
    height:300px;
    width:100%;
   /*  border-bottom:4px solid #E39E38; */
} 
.cbsc-logo {
    margin-top:100px; 
}
.banner {
    background-color: #484260;
    padding: 1em;
    border-bottom:4px solid #E39E38;
}

h1, h2 {color: #E39E38}