/* Application styles could go here */
/*
 * Colors:
 * purple: #7263A6
 * dark purple: #484260
 * yellow/orange: #E39E38
 */
 
/* Bibl banner*/
body {font-size:16px;}

.main-content-block {margin-top:0; padding-top:1em !important;}
.navbar {
    border-bottom: 4px solid #0285A1 !important;
}
.banner-bibl {
    position:relative;
    margin-top:-100px;
    padding-top:0;
	/* background-image:url('../images/cbsc/CBSC-banner.jpg');*/
	background-size:cover;
	background-position:top;
    height:300px;
    width:100%;
   /*  border-bottom:4px solid #E39E38; */
} 
.cbsc-logo {
    margin-left:1em;
    margin-top:100px; 
}
.navbar-brand .cbsc-logo{
    display:inline-block;
    margin-top:.5em;
}
.navbar-brand .banner-text {
  display:inline-block;
    margin-left:.5em;   
    margin-top:.5em; 
}
h1.cbsc-header {
    margin-top:120px;
    padding-bottom:0; 
    color:gray;
    font-size:32px;
}
.banner-bibl .indent{margin-left:2.5em;}
.banner {
    background-color: #0285A1;
    padding: 1em;
    border-bottom:4px solid #0285A1;
}

h1, h2 {color:gray; padding-top: 0; padding-bottom: 0;}
.left-border {border-left: 1px solid #eee;}
.right-border {border-right: 1px solid #eee;}
.fundingContainer {display:block; text-align:center; vertical-align:baseline;}
.fundingContainer .funding{display:inline-block; margin:1em;}
.funding img {vertical-align:baseline;}
.funding .vuLogo {margin-top:-1em;}
.img-credit .navbar-nav a{color:white}
.homepage-nav a{font-size:large; color:white;}
.homepage-nav li{margin: .25em 1em;}
.padding-top {margin-top:4em;}
#search-results-panel {margin-top:-4em; padding-top:0;}
@media (max-width: 600px) {
    h1.cbsc-header {
    margin-top:10px;
    padding-bottom:0; 
    color:gray;
    font-size:24px;
    }
}