/* Application styles */
/*
 * Colors:
 * Green Hex: #818457
 * Pink Hex: #ad726d
 * Yellow Hex: #d3ad38
 *   
 */

/* Typography */
h1 {color:#ad726d;}
h2 {color:#999;}
h3 {color:#333;}
h3.label {background-color:#ccc;}


.navbar, .homePage {
    border-bottom: 8px solid #d3ad38 !important;
}

.footer {
    border-top: 8px solid #d3ad38 !important;
}
.interior-content {margin-top:75px;}
.collectionIcon {font-size:42px; float:left; margin-right:1em;}
.home-about {padding: 2em 2em;}
.feature {
    padding:1em;
    height:350px;
}
/*.featureBanner {margin-top:175px;}*/
.homePage {margin-top:3em; color: #333;/* background-color: #d3ad38; */}
.homePage .text {padding-top:2em; vertical-align:middle;}
.homePage .project {min-height:100px; padding:1em;}
/*.featuredIcons {font-size:48px; color: #333 !important; vertical-align:bottom;}*/
/*.feature {margin: 0 1em;}*/
.home-page-text {
    color:white !important; 
    font-size:1.15em; 
    margin-top:.5em;
    font-weight:200;
    background: rgb(34,34,34); /* for IE */
    background: rgba(34,34,34,0.55);
    color: white; 
    padding: 2.75em 2em 2em;
    display:block;
    min-height:425px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.homePage .image  {
    text-align:center;
    position:relative;
    margin:0;
    padding:0;
	background-image:url('../images/johnEphesus/mssHomePage.jpg');
	background-size:cover;
	background-position:top;
    min-height:425px;
/*    width:100%;*/
}
.homePage .personsImage  {
    text-align:center;
    position:relative;
    margin:0;
    padding:0;
	background-image:url('../images/johnEphesus/persons2.png');
	background-size:cover;
	background-position:top;
    min-height:425px;
/*    width:100%;*/
}
.homePage .placesImage  {
    text-align:center;
    position:relative;
    margin:0;
    padding:0;
	background-image:url('../images/johnEphesus/places.png');
	background-size:cover;
	background-position:top;
    min-height:425px;
/*    width:100%;*/
}
/* Alt design */
.personsImage .home-page-text, .placesImage .home-page-text {
    padding-top:125px;
}
.homePagePersons .image  {
    text-align:center;
    position:relative;
    margin:0;
    padding:0;
	background-image:url('../images/johnEphesus/personsBanner.png');
	background-size:cover;
	background-position:top;
    height:300px;
/*    width:100%;*/
}
.homePagePlaces .image  {
    text-align:center;
    position:relative;
    margin:0;
    padding:0;
	background-image:url('../images/johnEphesus/placesBanner.png');
	background-size:cover;
	background-position:top;
    height:300px;
/*    width:100%;*/
}
.homePage .personsImage  {
    text-align:center;
    position:relative;
    margin:0;
    padding:0;
	background-image:url('../images/johnEphesus/personsBanner.png');
	background-size:cover;
	background-position:top;
    max-height:425px;
    border-right:4px solid #c1a445; 
    overflow:hidden;
/*    width:100%;*/
}

.homePage .placesImage  {
    text-align:center;
    position:relative;
    margin:0;
    padding:0;
	background-image:url('../images/johnEphesus/placesBanner.png');
	background-size:cover;
	background-position:top;
    max-height:425px;
    border-left:4px solid #c1a445;
    overflow:hidden;
/*    width:100%;*/
}
.featureBanner h2, .featureBanner h3 {color:white}

.homePagePlaces,  .homePagePersons {margin-top:-1em; border-bottom: 8px solid #d3ad38 !important; border-top: 8px solid #d3ad38;}
.homePagePlaces .text, homePagePersons .text{padding-top:2em; vertical-align:middle;}
.homePagePlaces .home-page-text, .homePagePersons .home-page-text {
    color:white !important; 
    font-size:1.15em;
    margin-top:.5em;
    font-weight:200;
    background: rgb(34,34,34); /* for IE */
    background: rgba(34,34,34,0.55);
    color: white; 
    padding: 2.75em 2em 2em;
    display:block;
    height:350px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.homePage .image h1, .homePage .image h2, .homePage .image h3 {color:white;}

/* Borrowed from saints */
.full-page {margin-top:0;}

/* Gateway to the saints Q image banner */
.joePersons {
    position:relative;
    margin:0;
    padding:0;
	background-image:url('../images/johnEphesus/personsBanner.png');
	background-size:cover;
	background-position:top center;
	height:325px;
    width:100%;
}
/* Blue: #94BCD9 */
.joePlaces {
    position:relative;
    margin:0;
    padding:0;
	background-image:url('../images/johnEphesus/placesBanner.png');
	background-size:cover;
	background-position:center center;
	height:325px;
    width:100%;
}
